<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Tickets</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>

    <header>
        <div class="user-icon" onclick="alert('ログイン画面へ')">👤</div>
    </header>

    <div class="hero-section">
        <div class="carousel-container">
            <button class="nav-btn" onclick="moveSlide(-1)">&#10094;</button>
            
            <div class="carousel-track" id="track">
                <!-- Pythonから渡された movies リストでループする -->
                {% for movie in movies %}
                <div class="movie-card" onclick="selectMovie('{{ movie.id }}')">
                    <!-- CSVの image_url と title を埋め込む -->
                    <img src="{{ movie.image_url }}" class="card-img" alt="{{ movie.id }}">
                </div>
                {% endfor %}
            </div>

            <button class="nav-btn" onclick="moveSlide(1)">&#10095;</button>
        </div>
    </div>

    <div class="recommend-section">
        <div class="section-title">おすすめ</div>
            <div class="recommend-grid">
                {% for movie in recommendations %}
                <div class="recommend-card" onclick="selectMovie('{{ movie.id }}')">
                    <img src="{{ movie.image_url }}" class="card-img" alt="{{ movie.id }}">
                </div>
                {% endfor %}
            </div>
        </div>

    <script>

    </script>
    <script src="/static/js/index.js"></script>
</body>
</html>